@import "palette";
@import "header";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

.pure-button {
    background-color: $accent-color;
    margin: 1em;
}

header {
    a {
        text-decoration: none;
        color: #FFF;
    }
}

body {
    @include primary-text-color-dark;

    header {
        div#breadcrumbs {
            padding: 1em;
        }
    }

    div#file-list {
        width: 100%;
        li {
            list-style-type: none;
            padding: 0.3em;
            border: 1px solid rgba(0, 0, 0, .38);
            a {
                text-decoration: none;
                @include primary-text-color-dark;
                span {
                    margin: 1em;
                }
                .size,.date {
                    display: none;
                }
            }
        }
    }
}
