@import "palette";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

.pure-button {
    background-color: $accent-color;
}

body {
    @include primary-text-color-dark;
}

form {
    @include primary-text-color-dark;
}

div#file-list {
    p {
        @include disabled-text-color-dark;
    }
}

ul#sortable {
    .ui-state-disabled {
        @include disabled-text-color-dark;
    }

    list-style-type: none;

    li i {
        display: inline;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

header {
    background-color: $primary-dark;
    color: #FFF;
    padding: 0.5em 1em;

    button {
        display: inline;
    }

    form {
        display: inline;
    }

    .pure-button {
        background-color: $accent-color;
    }
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .38);
    padding: 0.5em 1em;

}

div#controls {
    span {
        display: block;
        padding: 0.5em;

        .pure-button {
            background-color: $accent-color;
        }
    }
}
