@import "palette";
@import "header";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

.pure-button {
    background-color: $accent-color;
}

header {
    #shutdown {
        background-color: #F00;
        float: right;
    }
}

input#folder {
    width: 35%;
}

body {
    @include primary-text-color-dark;
}

form {
    @include primary-text-color-dark;
}

div#file-list {
    p {
        @include disabled-text-color-dark;
    }
}

ul#sortable {
    .ui-state-disabled {
        @include disabled-text-color-dark;
    }

    list-style-type: none;

    li i {
        display: inline;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .38);
    padding: 0.5em 1em;

}

div#controls {
    span {
        display: block;
        padding: 0.5em;

        .pure-button {
            background-color: $accent-color;
        }
    }
}

@media (max-width: 720px) and (-webkit-min-device-pixel-ratio: 2)
{
  header > span {
    width: 100%;
    display: inherit;
    padding-top: 0.4em;
  }
  input#folder { width: 100%; }
}

@media (max-width: 800px) and (-webkit-max-device-pixel-ratio: 2)
{
  header > span {
    width: 100%;
    display: inherit;
    padding-top: 0.4em;
  }
  input#folder { width: 100%; }
}


